/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/.idea
/vendor/bundle
.ruby-version
.ruby-gemset
.DS_Store
.rakeTasks
.tool-versions
# ignore built gems
*.gem
.vscode/task.json
.vscode/
