---
http_interactions:
- request:
    method: get
    uri: https://homologation.payline.com/V4/services/WebPaymentAPI?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MTY0ODI2OTQxNzMwMjU6c0o4ZzdwNEw2TEhha3BwYnhkSEg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 15 Nov 2016 15:15:25 GMT
      Etag:
      - '"17c56-25155-541586cfcfd40"'
      Content-Type:
      - application/wsdl+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<wsdl:definitions targetNamespace=\"http://impl.ws.payline.experian.com\"
        xmlns:impl=\"http://impl.ws.payline.experian.com\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:apachesoap=\"http://xml.apache.org/xml-soap\" xmlns:intf=\"http://impl.ws.payline.experian.com\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tns1=\"http://obj.ws.payline.experian.com\">\r\n  <wsdl:types>\r\n    <schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://impl.ws.payline.experian.com\"
        xmlns=\"http://www.w3.org/2001/XMLSchema\">\r\n\t\t\t<import namespace=\"http://obj.ws.payline.experian.com\"/>\r\n\t\t\t<element
        name=\"doWebPaymentRequest\">\r\n\t\t\t\t<complexType>\r\n\t\t\t\t\t<annotation>\r\n\t\t\t\t\t\t<documentation>\r\n\t\t\t\t\t\t\tThis
        element is the request for the\r\n\t\t\t\t\t\t\tdoWebPayment\r\n\t\t\t\t\t\t\tmethod\r\n\t\t\t\t\t\t</documentation>\r\n\t\t\t\t\t</annotation>\r\n\t\t\t\t\t<sequence>\r\n\t\t\t\t\t\t<element
        name=\"version\" nillable=\"false\" type=\"xsd:string\"/>\r\n\t\t\t\t\t\t<element
        name=\"payment\" nillable=\"false\" type=\"tns1:payment\"/>\r\n\t\t\t\t\t\t<element
        name=\"returnURL\" nillable=\"false\" type=\"xsd:string\"/>\r\n\t\t\t\t\t\t<element
        name=\"cancelURL\" nillable=\"false\" type=\"xsd:string\"/>\r\n\t\t\t\t\t\t<element
        name=\"order\" nillable=\"false\" type=\"tns1:order\"/>\r\n\t\t\t\t\t\t<element
        name=\"notifi[...]
- request:
    method: post
    uri: https://homologation.payline.com/V4/services/DirectPaymentAPI
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://impl.ws.payline.experian.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://obj.ws.payline.experian.com"><env:Body><impl:doAuthorizationRequest><impl:payment><ins0:amount>1000</ins0:amount><ins0:currency>978</ins0:currency><ins0:action>100</ins0:action><ins0:mode>CPT</ins0:mode><ins0:contractNumber>1234567</ins0:contractNumber></impl:payment><impl:card><ins0:number>not_a_valid_number</ins0:number><ins0:type>VISA</ins0:type><ins0:expirationDate>1217</ins0:expirationDate><ins0:cvx>123</ins0:cvx></impl:card><impl:order><ins0:amount>1000</ins0:amount><ins0:currency>978</ins0:currency><ins0:ref>7ec37adf2008359f28bf78807bdb570b</ins0:ref><ins0:date>25/01/2017
        10:46</ins0:date></impl:order><impl:buyer></impl:buyer><impl:version>16</impl:version><impl:contractNumber>1234567</impl:contractNumber><impl:languageCode
        xsi:nil="true"/><impl:securityMode>SSL</impl:securityMode><impl:returnURL>http://ct2c.fr</impl:returnURL><impl:cancelURL>http://ct2c.fr</impl:cancelURL><impl:notificationURL
        xsi:nil="true"/><impl:customPaymentPageCode xsi:nil="true"/><impl:selectedContractList><impl:selectedContract>1234567</impl:selectedContract></impl:selectedContractList></impl:doAuthorizationRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"doAuthorization"'
      Content-Type:
      - text/xml;charset=UTF-8
      Authorization:
      - Basic MTY0ODI2OTQxNzMwMjU6c0o4ZzdwNEw2TEhha3BwYnhkSEg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version=''1.0'' encoding=''UTF-8''?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><doAuthorizationResponse
        xmlns="http://impl.ws.payline.experian.com"><result xmlns="http://impl.ws.payline.experian.com"><code
        xmlns="http://obj.ws.payline.experian.com">02305</code><shortMessage xmlns="http://obj.ws.payline.experian.com">Invalid
        Transaction</shortMessage><longMessage xmlns="http://obj.ws.payline.experian.com">Invalid
        field format : Card Number : Bad format, please refer to the user guide</longMessage></result><transaction
        xmlns="http://impl.ws.payline.experian.com"><id xmlns="http://obj.ws.payline.experian.com"
        /><date xmlns="http://obj.ws.payline.experian.com" /><isDuplicated xmlns="http://obj.ws.payline.experian.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true" /><isPossibleFraud
        xmlns="http://obj.ws.payline.experian.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:nil="true" /><fraudResult xmlns="http://obj.ws.payline.experian.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:nil="true" /><explanation xmlns="http://obj.ws.payline.experian.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:nil="true" /><threeDSecure xmlns="http://obj.ws.payline.experian.com">N</threeDSecure><score
        xmlns="http://obj.ws.payline.experian.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:nil="true" /></transaction><authorization xmlns="http://impl.ws.payline.experian.com"><number
        xmlns="http://obj.ws.payline.experian.com" /><date xmlns="http://obj.ws.payline.experian.com"
        /></authorization><card xmlns="http://impl.ws.payline.experian.com" /><contractNumber
        xmlns="http://impl.ws.payline.experian.com" /></doAuthorizationResponse></soapenv:Body></soapenv:Envelope>'
  recorded_at: Wed, 25 Jan 2017 09:46:49 GMT
[...]
