/*
 *= require document/variables
 *= require document/base
 *= require document/layout
 *= require document/sidebar
 *= require document/swagger
 *= require document/document
 *= require document/switch
 */
