---
stages:
  - test
  - deploy

variables:
  BUNDLE_FROZEN: "true"

.default-test-job:
  image: "ruby:${RUBY_VERSION}"
  stage: test
  needs: []
  cache:
    paths:
      - vendor/ruby
  before_script:
    - ruby -v  # Print out ruby version for debugging
    - gem install bundler -v 2.4.13
    - bundle config set --local path "vendor/ruby/$RUBY_VERSION"
    - bundle install
  parallel:
    matrix:
      - RUBY_VERSION:
        - "3.0"
        - "3.1"
        - "3.2"

rspec:
  extends: .default-test-job
  script:
    - bundle exec rspec
    - bundle exec rspec feature

rubocop:
  extends: .default-test-job
  script:
    - bundle exec rubocop --extra-details .

include:
  - template: 'Workflows/MergeRequest-Pipelines.gitlab-ci.yml'
  - component: gitlab.com/gitlab-org/components/gem-release/gem-release@~latest
  - component: gitlab.com/gitlab-org/components/danger-review/danger-review@~latest
