= link_to document.title || document.slug, documentation_url(path: document.slug)
- if document.documents.present?
  %ul
    - document.documents.each do |_key, document|
      %li
        = render 'layouts/apress/documentation/menu_item',
                 document: document
