// Base
$body-bg: #fff;
$font-family: 'Lato', sans-serif;
$font-family-glyph: fontAwesome;
$font-family-headings: 'Lato', sans-serif;
$font-size: 15px;
$line-height: 1.6;
$border-accent-color: #f1f1f1;
$box-shadow-accent: 0 0 0 2px rgba(51, 51, 51, .02);

// Grid
$screen-sm-max: 991px !default;

// Heading
$headings-font-weight: 400;
$heading-line-heading: 1.1;
$heading-color: #232323;

// Text Colors
$text-color: #4a4a4a;
$link-color: #237dac;

// Sidebar
$sidebar-width: 320px;
$sidebar-bg: #fff;
$sidebar-padding: 35px;
