default:
  image: "ruby:${RUBY_VERSION}"

services:
  - redis:latest

.test-template: &test
  cache:
    key: ruby-$RUBY_VERSION
    paths:
      - vendor/ruby
  variables:
    REDIS_URL: redis://redis:6379
  before_script:
    - apt update && apt install -y libicu-dev
    - ruby -v                                   # Print out ruby version for debugging
    - bundle config set --local path 'vendor'
    - bundle install -j $(nproc)
  script:
    - bundle exec rspec spec

rspec:
  parallel:
    matrix:
      - RUBY_VERSION: [ "3.0", "3.1", "3.2" ]
  <<: *test

include:
  - template: Security/Dependency-Scanning.gitlab-ci.yml
