variables:
  RUBY_VERSION: "3.1.5"

default:
  image: "ruby:${RUBY_VERSION}"

workflow:
  rules:
    # For merge requests, create a pipeline.
    - if: '$CI_MERGE_REQUEST_IID'
    # For `master` branch, create a pipeline (this includes on schedules, pushes, merges, etc.).
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    # For tags, create a pipeline.
    - if: '$CI_COMMIT_TAG'

include:
  - component: ${CI_SERVER_FQDN}/gitlab-org/components/danger-review/danger-review@1.4.1
    inputs:
      job_image: "ruby:${RUBY_VERSION}"

.test_template: &test_definition
  image: ruby:${RUBY_VERSION}
  stage: test
  script:
    - gem install bundler --no-document
    - bundle config --local path vendor
    - bundle install
    - bundle exec rake verify build install
  cache:
    key: ${CI_JOB_IMAGE}
    paths:
      - vendor/ruby
ruby:
  <<: *test_definition
  parallel:
    matrix:
      - RUBY_VERSION: ["3.0", "3.1", "3.2"]

static-analysis:
  before_script:
    - bundle install
  script:
    - rake verify

deploy:
  stage: deploy
  script:
    - tools/deploy-rubygem.sh
  only:
    - tags

release:
  stage: deploy
  script:
    - tools/update-changelog.rb "${CI_COMMIT_TAG}"
  only:
    - tags
