<ul>
<%
  @highlights.each do |key, value|
    if value['body'].nil? 
      next
    end
    body = value['body'][0]
    body = body.remove_non_ascii
    clean = Sanitize.clean(body, Sanitize::Config::RELAXED)
%>
  <li>
  <span class="click_me_span" onclick="load_content('<%= key %>' )">
  <%=key%></span><br/>
  <div><%= clean %></div>
  <%end%>
</ul>