default:
  image: "ruby:${RUBY_VERSION}"

cache:
  key: "${CI_JOB_IMAGE}"
  paths:
    - vendor/ruby

before_script:
  - ruby -v
  - gem update --system --no-document
  - bundle install -j $(nproc) --path vendor

test:
  script:
    - bundle exec rspec
  parallel:
    matrix:
      - RUBY_VERSION: [ "3.0", "3.1", "3.2" ]

rubocop:
  script:
    - bundle exec rubocop
  variables:
    RUBY_VERSION: "3.0"
