stages:
  - test

.base:
  image: ruby:2.7.5
  cache:
    key: gems_and_packages
    paths:
      - apt-cache/
      - vendor/ruby
    policy: pull
  before_script:
    - ruby -v
    - gem install bundler --no-document
    - bundle install --path=vendor/ruby

test:rspec:
  extends: .base
  stage: test
  script:
    - bundle exec rspec
